body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  }
  
  #clearFieldsBtn{
    position: absolute;
    top: auto;
    left: 150px;
    right: 150px;
    bottom: auto;
    margin: auto;
  }

  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  .description {
    white-space: pre-wrap;
  }
  
  .time-block {
    border-radius: 15px;
  }
  
  .row {
    border-top: 1px solid white;
  }
  
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  
  .past {
    background-color: #d3d3d3;
    color: white;
  }
  
  .present {
    background-color: #ff6961;
    color: white;
  }
  
  .future {
    background-color: #77dd77;
    color: white;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06aed5;
    color: white;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }

  /* added a display section in order to control the text */
  .display-3{
    font-size: calc(1.525rem + 3.3vw);
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
  }

  p {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
  }

  /* Control the header */

  /* .p-5mb-4{
    background-color: #06aed5;
  } */